Repository NarrativeScience-old/pynocular: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, black, pydocstyle, flake8, circleci-config

codespell:
  name: Spell-check Python files (codespell)
  entry: codespell
  language: python
  additional_dependencies:
  - codespell==2.0.0

isort:
  name: Sort Python imports (isort)
  entry: isort
  language: python
  additional_dependencies:
  - isort==4.3.16

black:
  name: Format Python (black)
  entry: black
  language: python
  additional_dependencies:
  - black==21.7b0

pydocstyle:
  name: Lint Python docstrings (pydocstyle)
  entry: pydocstyle
  language: python
  additional_dependencies:
  - pydocstyle==5.0.2

flake8:
  name: Lint Python (flake8)
  entry: flake8 --config .flake8
  language: python
  additional_dependencies:
  - flake8==3.7.9
  - flake8-import-order<0.19,>=0.18
  - flake8-print>=3.1.4,<4

circleci-config:
  name: Pack the CircleCI config
  entry: .githooks/pre-commit-scripts/circleci.sh
  language: script

Version bumped to 0.18.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

LEXIO-37621: extend patch_database_model to handle other operators (#18)
  pynocular/__init__.py
  pynocular/patch_models.py
  pyproject.toml
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Get mypy passing
  .pre-commit-config.yaml
  pynocular/aiopg_transaction.py
  pynocular/database_model.py
  pynocular/exceptions.py
  pynocular/nested_database_model.py
  pynocular/patch_models.py
  setup.cfg
Due: codespell, isort, black, pydocstyle, flake8

Add readme
  README.md
Due: none

Gate changes behind tpye checking
  pynocular/database_model.py
Due: codespell, isort, black, pydocstyle, flake8

Version bumped to 0.19.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Better workarounds for library users
  README.md
  pynocular/database_model.py
Due: codespell, isort, black, pydocstyle, flake8

Better readme
  README.md
Due: none

More readme updates
  README.md
Due: none

Prototype of new functionality
  pynocular/database_model.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Add nested model workaround
  pynocular/database_model.py
Due: codespell, isort, black, pydocstyle, flake8

More POC code
  pynocular/database_model.py
Due: codespell, isort, black, pydocstyle, flake8

init
  poetry.lock
  pynocular/backends/base.py
  pynocular/backends/postgres.py
  pynocular/backends/util.py
  pynocular/model.py
  pyproject.toml
  tests/unit/test_model.py
Due: codespell, isort, black, pydocstyle, flake8

working
  pynocular/backends/base.py
  pynocular/backends/context.py
  pynocular/backends/postgres.py
  pynocular/backends/sql.py
  pynocular/backends/util.py
  pynocular/model.py
  tests/unit/test_model.py
Due: codespell, isort, black, pydocstyle, flake8

test
  poetry.lock
  pyproject.toml
  tests/unit/test_model.py
Due: codespell, isort, black, pydocstyle, flake8

docs
  poetry.lock
  pynocular/backends/base.py
  pynocular/backends/context.py
  pynocular/backends/memory.py
  pynocular/backends/sql.py
  pynocular/model.py
  pyproject.toml
  tests/functional/test_model.py
  tests/unit/test_model.py
Due: codespell, isort, black, pydocstyle, flake8

package
  poetry.lock
  pyproject.toml
Due: none

reinstall
  poetry.lock
  pyproject.toml
Due: none

version
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

black
  .pre-commit-config.yaml
  pyproject.toml
Due: none

black
  poetry.lock
Due: none

env
  tests/functional/test_model.py
Due: codespell, isort, black, pydocstyle, flake8

user
  tests/functional/test_model.py
Due: codespell, isort, black, pydocstyle, flake8

localhost
  tests/functional/test_model.py
Due: codespell, isort, black, pydocstyle, flake8

test
  tests/functional/test_model.py
Due: codespell, isort, black, pydocstyle, flake8

Fix issue where we are storing the enum name instead of value, also added get_table helper funct
  pynocular/database_model.py
  tests/functional/test_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

update black
  .pre-commit-config.yaml
  poetry.lock
  pynocular/database_model.py
  pyproject.toml
Due: codespell, isort, black, pydocstyle, flake8

Fix issue where we are storing the enum name instead of value, also a… (#21)
  .pre-commit-config.yaml
  poetry.lock
  pynocular/__init__.py
  pynocular/database_model.py
  pyproject.toml
  tests/functional/test_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

lock
  poetry.lock
Due: none

tests
  poetry.lock
  pynocular/__init__.py
  pynocular/backends/base.py
  pynocular/backends/memory.py
  pynocular/backends/sql.py
  pynocular/database_model.py
  pynocular/db_util.py
  pynocular/engines.py
  pynocular/evaluate_column_element.py
  pynocular/model.py
  pynocular/nested_database_model.py
  pynocular/patch_models.py
  pynocular/uuid_str.py
  pyproject.toml
  tests/functional/conftest.py
  tests/functional/test_database_model.py
  tests/functional/test_db_util.py
  tests/functional/test_model.py
  tests/functional/test_nested_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

tx
  poetry.lock
  pynocular/__init__.py
  pynocular/aiopg_transaction.py
  pynocular/backends/base.py
  pynocular/backends/context.py
  pynocular/backends/memory.py
  pynocular/backends/sql.py
  pynocular/config.py
  pynocular/database_model.py
  pynocular/db_util.py
  pynocular/exceptions.py
  pynocular/model.py
  pyproject.toml
  tests/functional/conftest.py
  tests/functional/test_database_model.py
  tests/functional/test_db_util.py
  tests/functional/test_transactions.py
  tests/unit/test_evaluate_column_element.py
  tests/unit/test_task_context_connection.py
Due: codespell, isort, black, pydocstyle, flake8

rm
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

rename
  README.md
  pynocular/__init__.py
  pynocular/backends/context.py
  pynocular/database_model.py
  pynocular/util.py
  pynocular/uuid_str.py
  tests/functional/conftest.py
  tests/functional/test_database_model.py
  tests/functional/test_db_util.py
  tests/functional/test_transactions.py
  tests/unit/test_evaluate_column_element.py
Due: codespell, isort, black, pydocstyle, flake8

readme
  README.md
  pynocular/__init__.py
  tests/functional/test_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

nonested
  pynocular/backends/base.py
  pynocular/database_model.py
  pynocular/patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

readme
  README.md
Due: none

no tx on select
  pynocular/backends/sql.py
Due: codespell, isort, black, pydocstyle, flake8

Path conditions:
  codespell: any of: \.py$, but not: examples/.*$
  isort: any of: \.py$, but not: examples/.*$
  black: any of: \.py$, but not: examples/.*$
  pydocstyle: any of: \.py$ and not ((?x)^(
  .*__init__.py$|
  .*setup.py$
)$
) and not (examples/.*$)
  flake8: any of: \.py$, but not: examples/.*$
  circleci-config: any of: ^\.circleci/, but not: examples/.*$
