Repository NarrativeScience-old/pynocular: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, black, pydocstyle, flake8, circleci-config

codespell:
  name: Spell-check Python files (codespell)
  entry: codespell
  language: python
  additional_dependencies:
  - codespell==2.0.0

isort:
  name: Sort Python imports (isort)
  entry: isort
  language: python
  additional_dependencies:
  - isort==4.3.16

black:
  name: Format Python (black)
  entry: black
  language: python
  additional_dependencies:
  - black==21.7b0

pydocstyle:
  name: Lint Python docstrings (pydocstyle)
  entry: pydocstyle
  language: python
  additional_dependencies:
  - pydocstyle==5.0.2

flake8:
  name: Lint Python (flake8)
  entry: flake8 --config .flake8
  language: python
  additional_dependencies:
  - flake8==3.7.9
  - flake8-import-order<0.19,>=0.18
  - flake8-print>=3.1.4,<4

circleci-config:
  name: Pack the CircleCI config
  entry: .githooks/pre-commit-scripts/circleci.sh
  language: script

Add tests for transaction handling
  tests/functional/BUILD
  tests/functional/test_database_model.py
  tests/functional/test_transactions.py
Due: codespell, isort, black, pydocstyle, flake8

Version bumped to 0.11.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

removed BUILD file and newline in python module
  pynocular/aiopg_transaction.py
  tests/functional/BUILD
Due: codespell, isort, black, pydocstyle, flake8

Python3 9 support (#10)
  poetry.lock
  pynocular/__init__.py
  pynocular/aiopg_transaction.py
  pyproject.toml
  tests/functional/test_database_model.py
  tests/functional/test_transactions.py
Due: codespell, isort, black, pydocstyle, flake8

Add a test runner for 3.9 as well as 3.6
  .circleci/config.yml
  .circleci/executors/python-medium.yml
  .circleci/jobs/build-test.yml
  .circleci/workflows/pull-request-tests.yml
Due: circleci-config

Add a test runner for 3.9 as well as 3.6
  .circleci/executors/python-3_6-medium.yml
  .circleci/executors/python-3_9-medium.yml
  .circleci/jobs/build-test-3_6.yml
  .circleci/jobs/build-test-3_9.yml
Due: circleci-config

Version bumped to 0.12.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

matrix
  .circleci/config.yml
  .circleci/executors/python-3_6-medium.yml
  .circleci/executors/python-3_9-medium.yml
  .circleci/jobs/build-test-3_6.yml
  .circleci/jobs/build-test.yml
  .circleci/workflows/pull-request-tests.yml
Due: circleci-config

add 3.7 and 3.8 test runs
  .circleci/config.yml
  .circleci/executors/python-3_7-medium.yml
  .circleci/executors/python-3_8-medium.yml
  .circleci/jobs/build-test.yml
  .circleci/workflows/pull-request-tests.yml
Due: circleci-config

Add 3 9 test runner (#11)
  .circleci/config.yml
  .circleci/executors/python-3_6-medium.yml
  .circleci/executors/python-3_7-medium.yml
  .circleci/executors/python-3_8-medium.yml
  .circleci/executors/python-3_9-medium.yml
  .circleci/jobs/build-test.yml
  .circleci/workflows/pull-request-tests.yml
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8, circleci-config

function plus unit tests
  pynocular/db_util.py
  tests/unit/test_db_util.py
Due: codespell, isort, black, pydocstyle, flake8

pre-commit
  pynocular/db_util.py
  tests/unit/test_db_util.py
Due: codespell, isort, black, pydocstyle, flake8

Version bumped to 0.13.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

fixes to tests
  pynocular/db_util.py
  tests/unit/test_db_util.py
Due: codespell, isort, black, pydocstyle, flake8

fixing test
  pynocular/db_util.py
Due: codespell, isort, black, pydocstyle, flake8

QPT-36798: Create is db available util function (#12)
  pynocular/__init__.py
  pynocular/db_util.py
  pyproject.toml
  tests/unit/test_db_util.py
Due: codespell, isort, black, pydocstyle, flake8

Changed DBInfo interface and updated README
  .pre-commit-config.yaml
  README.md
  pynocular/engines.py
  setup.cfg
  tests/functional/test_database_model.py
  tests/functional/test_nested_database_model.py
  tests/functional/test_transactions.py
  tests/unit/test_db_util.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Version bumped to 0.14.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Update cruft
  .circleci/commands/restore-test-cache.yml
  .circleci/commands/save-test-cache.yml
  .circleci/commands/store-test-artifacts.yml
  .circleci/config.yml
  .circleci/executors/default.yml
  .circleci/jobs/build-test.yml
  .circleci/jobs/send-slack-on-pr-success.yml
  .cruft.json
  .githooks/pre-commit-scripts/cruft-check.sh
  .pre-commit-config.yaml
  CODEOWNERS
  pull_request_template.md
Due: circleci-config

comment out flake8 issues
  tests/functional/test_nested_database_model.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Fix DBInfo references for test
  pynocular/db_util.py
  tests/unit/test_db_util.py
Due: codespell, isort, black, pydocstyle, flake8

PR comments
  CODEOWNERS
  README.md
Due: none

typos
  README.md
Due: none

Changed DBInfo interface and updated README (#13)
  .circleci/commands/restore-test-cache.yml
  .circleci/commands/save-test-cache.yml
  .circleci/commands/store-test-artifacts.yml
  .circleci/config.yml
  .circleci/executors/default.yml
  .circleci/jobs/build-test.yml
  .circleci/jobs/send-slack-on-pr-success.yml
  .cruft.json
  .githooks/pre-commit-scripts/cruft-check.sh
  .pre-commit-config.yaml
  CODEOWNERS
  README.md
  pull_request_template.md
  pynocular/__init__.py
  pynocular/db_util.py
  pynocular/engines.py
  pyproject.toml
  setup.cfg
  tests/functional/test_database_model.py
  tests/functional/test_nested_database_model.py
  tests/functional/test_transactions.py
  tests/unit/test_db_util.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8, circleci-config

removed asyncpg from dep
  README.md
  pynocular/engines.py
  pyproject.toml
Due: codespell, isort, black, pydocstyle, flake8

Version bumped to 0.15.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

updated the lock file
  poetry.lock
Due: none

removed asyncpg from dep (#14)
  README.md
  poetry.lock
  pynocular/__init__.py
  pynocular/engines.py
  pyproject.toml
Due: codespell, isort, black, pydocstyle, flake8

Added delete support for patched models
  pynocular/__init__.py
  pynocular/patch_models.py
  tests/functional/test_db_util.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Version bumped to 0.16.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Update cruft
  .circleci/commands/restore-test-cache.yml
  .circleci/commands/save-test-cache.yml
  .circleci/config.yml
  .cruft.json
  .githooks/pre-commit-scripts/common.sh
  .pre-commit-config.yaml
  setup.cfg
Due: circleci-config

PR comments
  .pre-commit-config.yaml
  pynocular/patch_models.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Added delete support for patched models (#15)
  .circleci/commands/restore-test-cache.yml
  .circleci/commands/save-test-cache.yml
  .circleci/config.yml
  .cruft.json
  .githooks/pre-commit-scripts/common.sh
  pynocular/__init__.py
  pynocular/patch_models.py
  pyproject.toml
  setup.cfg
  tests/functional/test_db_util.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8, circleci-config

updated connection management to fix stuck connections
  pynocular/aiopg_transaction.py
  tests/functional/test_transactions.py
Due: codespell, isort, black, pydocstyle, flake8

revert key change
  pynocular/aiopg_transaction.py
Due: codespell, isort, black, pydocstyle, flake8

Version bumped to 0.17.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

added tests
  tests/unit/test_task_context_connection.py
Due: codespell, isort, black, pydocstyle, flake8

update cruft commit
  .cruft.json
Due: none

updated connection management to fix stuck connections (#16)
  .cruft.json
  pynocular/__init__.py
  pynocular/aiopg_transaction.py
  pyproject.toml
  tests/functional/test_transactions.py
  tests/unit/test_task_context_connection.py
Due: codespell, isort, black, pydocstyle, flake8

LEXIO-37621: extend patch_database_model to handle other operators
  pynocular/patch_models.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Path conditions:
  codespell: any of: \.py$, but not: examples/.*$
  isort: any of: \.py$, but not: examples/.*$
  black: any of: \.py$, but not: examples/.*$
  pydocstyle: any of: \.py$ and not ((?x)^(
  .*__init__.py$|
  .*setup.py$
)$
) and not (examples/.*$)
  flake8: any of: \.py$, but not: examples/.*$
  circleci-config: any of: ^\.circleci/, but not: examples/.*$
