Repository NarrativeScience-old/pynocular: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, black, pydocstyle, flake8, circleci-config

.pre-commit-config.yaml:

---
default_stages: [commit]

default_language_version:
  python: python3

exclude: "examples/.*$"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
        # Need to define stages explicitly since `default_stages` was not being respected
        stages: [commit]
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .circleci/config.yml
          )$
        # Need to define stages explicitly since `default_stages` was not being respected
        stages: [ commit ]
      - id: forbid-new-submodules
      - id: no-commit-to-branch
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        # Need to define stages explicitly since `default_stages` was not being respected
        stages: [commit]

  - repo: local
    hooks:
      - id: codespell
        name: Spell-check Python files (codespell)
        entry: codespell
        language: python
        types: [file, python]
        additional_dependencies: [codespell==2.0.0]

      - id: isort
        name: Sort Python imports (isort)
        entry: isort
        language: python
        types: [file, python]
        additional_dependencies: [isort==4.3.16]

      - id: black
        name: Format Python (black)
        entry: black
        language: python
        types: [file, python]
        additional_dependencies: [black==21.7b0]

      - id: pydocstyle
        name: Lint Python docstrings (pydocstyle)
        entry: pydocstyle
        language: python
        types: [file, python]
        additional_dependencies: [pydocstyle==5.0.2]
        exclude: >
          (?x)^(
            .*__init__.py$|
            .*setup.py$
          )$

      - id: flake8
        name: Lint Python (flake8)
        entry: flake8 --config .flake8
        language: python
        types: [file, python]
        additional_dependencies:
          - flake8==3.7.9
          - "flake8-import-order<0.19,>=0.18"
          - flake8-print>=3.1.4,<4

      - id: circleci-config
        name: Pack the CircleCI config
        entry: .githooks/pre-commit-scripts/circleci.sh
        language: script
        files: '^\.circleci/'

Updated test to show the same table referenced more than once
  pynocular/database_model.py
  pynocular/exceptions.py
  pynocular/foreign_reference.py
  tests/functional/test_foreign_references.py
Due: codespell, isort, black, pydocstyle, flake8

Version bumped to 0.5.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Changed name to nested database model
  pynocular/database_model.py
  pynocular/exceptions.py
  pynocular/nested_database_model.py
  tests/functional/test_nested_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

Update readme and method sigs for db_utils
  README.md
  pynocular/db_util.py
  tests/functional/test_database_model.py
  tests/functional/test_nested_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

Add save and clean up exceptions
  pynocular/database_model.py
  pynocular/db_util.py
  pynocular/exceptions.py
  tests/functional/test_nested_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

Add test for serialization
  README.md
  tests/functional/test_nested_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

fixed test structure
  pynocular/db_util.py
  tests/functional/test_database_model.py
  tests/functional/test_nested_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

Update README.md
  README.md
Due: none

Update pynocular/exceptions.py
  pynocular/exceptions.py
Due: codespell, isort, black, pydocstyle, flake8

PR comments
  README.md
  pynocular/database_model.py
  pynocular/db_util.py
Due: codespell, isort, black, pydocstyle, flake8

Add foreign keys (#3)
  README.md
  pynocular/__init__.py
  pynocular/database_model.py
  pynocular/db_util.py
  pynocular/exceptions.py
  pynocular/nested_database_model.py
  pyproject.toml
  tests/functional/test_database_model.py
  tests/functional/test_nested_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

BUnpin backoff version
  poetry.lock
  pyproject.toml
Due: none

Version bumped to 0.6.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Unpin backoff version (#5)
  poetry.lock
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Upgrade aenum to ^3.1.0
  poetry.lock
  pyproject.toml
Due: none

Version bumped to 0.7.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Upgrade aenum to ^3.1.0 (#6)
  poetry.lock
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Upgrade asyncpg to 0.24
  poetry.lock
  pyproject.toml
Due: none

Version bumped to 0.8.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Upgrade asyncpg to 0.24 (#7)
  poetry.lock
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Upgrade aiopg to 1.3.1
  poetry.lock
  pyproject.toml
Due: none

Version bumped to 0.9.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

Upgrade aiopg to 1.3.1 (#8)
  poetry.lock
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

got far but stuck on insert stmt support
  pynocular/aiopg_transaction.py
  pynocular/database_model.py
  pynocular/engines.py
  tests/functional/test_nested_database_model.py
Due: codespell, isort, black, pydocstyle, flake8

updated with support for nested models
  pynocular/database_model.py
  pynocular/patch_models.py
  tests/functional/test_database_model.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

updated readme
  README.md
Due: none

Version bumped to 0.10.0
  pynocular/__init__.py
  pyproject.toml
Due: codespell, isort, black, flake8

more docstrings and added periods
  README.md
  pynocular/patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Add test utils (#9)
  README.md
  pynocular/__init__.py
  pynocular/database_model.py
  pynocular/patch_models.py
  pyproject.toml
  tests/functional/test_database_model.py
  tests/unit/test_patch_models.py
Due: codespell, isort, black, pydocstyle, flake8

Adding python 3.9 support
  poetry.lock
  pynocular/aiopg_transaction.py
  pyproject.toml
Due: codespell, isort, black, pydocstyle, flake8
